<div class="jumbotron" *ngIf="!books || books.length === 0">
    <h1>No Books!!!</h1>
    <p>Why not add a book to the store?</p>
</div>


<div class="form-group col-xs-2">
    <select [(ngModel)]="selected" (ngModelChange)="onSelect($event)" class="form-control">
        <option *ngFor="let genre of genres"
                [value]="genre.name">
          {{ genre.name }}
        </option>
   </select>
</div>

  <table class="table table-striped" *ngIf="books || books.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.name}}</td>
        <td>{{book.price}}</td>
        <td>{{book.genre.name}}</td>
        <td>
          <button type="button" class="btn btn-default" (click)="delete(book); $event.stopPropagation()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-default" (click)="editBook(book)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <app-update-book [book]="selectedBook"></app-update-book>
  </div>
